.photo__grid-table {
  width: 100%;
  margin: 0 auto 92px;
  padding: 0;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-items: center;
}
@media screen and (max-width: 1024px) {
  .photo__grid-table {
    width: 100%;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .photo__grid-table {
    width: 100%;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 420px) {
  .photo__grid-table {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin-bottom: 64px;
  }
}
