.lead__image {
  width: calc(100% - 148px*2);
  height: auto;
  margin: 64px auto 0;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: calc(100% - 48px*2);
  }
}
@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
  }
}
