.place {
  display:grid;
  grid-template-columns: 460px auto;
  margin-bottom: 79px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px auto;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px auto;
  }
}

@media screen and (max-width: 480px) {
  .place {
    display:flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
